:root {
  --bg-color: #000;
  --main-color: #fff;
  --first-color: #ff008a;
  --secondary-color: #8ca2c0;

  --max-width: 1216px;
}

body {
  background: var(--bg-color);
}

img {
  object-fit: cover;
}

a {
  color: var(--main-color);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease-out;
}

a:hover {
  color: var(--first-color);
}

.align-center {
  display: flex;
  justify-content: center;
  margin: 52px 32px;
}
