.popular {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: var(--main-color);
}

.info {
  display: flex;
  justify-content: space-between;
}

.info > * {
  margin: 0;
}

.price {
  color: var(--first-color);
}

@media screen and (max-width: 775px) {
  .popular > img {
    width: 275px;
    height: 350px;
  }
}
