.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  gap: 24px;
  margin: 36px 0;
  width: 100%;
}

.navLinks {
  display: flex;
  gap: 16px;
}

.copyright {
  color: var(--secondary-color);
}
