.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--main-color);
}

.price {
  color: var(--first-color);
}

@media screen and (max-width: 1240px) {
  .info {
    justify-content: center;
  }
}
