.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  text-align: center;
  color: var(--main-color);
}

.absolute {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99;
  margin-left: auto;
  margin-right: auto;
}

.menuTitle {
  color: var(--main-color);
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 1px;
}

.image {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.social_medias {
  display: flex;
  justify-content: center;
  padding: 6px 8px;
  margin: 8px 0;
  gap: 24px;
  color: var(--main-color);
}

.social_media {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social_media:hover {
  color: var(--first-color);
}

.section {
  display: flex;
  flex-direction: column;
  max-width: var(--max-width);
  width: 100%;
}

@media screen and (max-width: 1240px) {
  .section {
    align-items: center;
  }
}
